main{
    padding-left: 50px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(./images/im4.jpg);
    height: 100vh;
    background-size: cover;
    color: #caaaaa;
}
.logo a{
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo span{
color: rgb(238, 56, 11);
font-weight: bold;
font-size: 2rem;
}
ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
   }
   ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
   
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}
ul li a:hover{
    background:#cdcd19;
    color: #e5d6d6;
}
/*ul li.active a{
    background: #5ab197;
    color: #a23333;
}*/
.principale{
    max-width: 110rem;
    margin: 0 auto;
}
.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.titre h2{
    color: #fff ;
    font-size: 50px;
}
.bouton{position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style-type: none;
    
}

.btn{
    transition: 0.6s ease;

    
}
.btn:hover{
    background-color: #492d9e;
    color: #000;
}
.btn{
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;


}
.bouton a{
    color: hsl(197, 23%, 88%);
    text-decoration: none;
    border: 1px solid #3a9d47;
    left: 50%;  
    padding: 5px 10px; 
    list-style-type: none;
    margin-top: 50px;
    font-size: 1em;
    display: inline-block;
}.bienvenue{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/beach1.jpg);
    padding: 200px 50px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.intro{
    max-width: 700px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 20px auto;
    padding: 20px 20px;
}h1{
    color: #02bfc6;
    font-weight: 400px;
}
.slogan{
    color: #ffbf46;
    font-size: 4em;
    font-weight: 400px;
}
footer{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer{
    width: 33.3%;

}
h3{
    font-size: 10x;
    margin-bottom: 10px;
    text-align: center;

}
.footer-content p{
    width: 100px;
    margin: 0;
    padding: 7px;
    color: #29d9d5;


}
.footer-content ul{
   text-align: center;
    

}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;


}
.list li:hover::before{
    width: 10px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
   color: white;
   font-size: 25px;
}
a{
    text-decoration: none;

}
a :hover{
    color: #f18930;


}
.social-icons i{
    color: white;
    font-size: 5px;
}
a{
    text-decoration: none;

}
a:hover{
    color: f18930;

}
.social-icons i:hover{
    color: #f18930;
    font-size: 5px;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;

}

.bottom-bar p{
    color: #343434;
   
    margin-top:0;
    font-size: 20px;
    padding: 7px;

}















