*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
    font-family : 'Roboto', sans-serif;
}
body{
    background-color: #e9e9e9;
}
.container{
    width: 100%;
}
.blog-section{
    width: 85%;
    margin: 20px auto;
}
.blog-section .title a{
    text-decoration: none;
    position: relative;
    font-size: 20px;
    color: #cde9cb;
    display: inline-block;
    background-color:  #3a706a;
    padding: 6px 15px;
}
.blog-section .title{
    width: 60%;
    text-align: center;
    margin: auto;
}
.blog-section .title h2{
    font-size: 33px;
    color: #357ca6;
    /*text-transform: uppercase;*/
    margin-top: 50px;
    height: 50px;
}
.blog-section .title p{
    font-size: 17px;
    color: #6c6c6c;
    margin-top: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid: gap 50px;
    margin: 25px auto;
}
.cards .card{
    width: 100%;
    position: relative;
}
.image-section img{
    width: 90%;
    height: auto;
}
.content{
    padding: 15px 20px;
}
.content h4{
    font-size: 24px;
    color: #222;
    font-weight: 50px;
}
.content p{
    color: #7e7e7e;
    font-size: 16px;
}
.content a{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #3a706a;
    padding: 8px 15px;
}
.card .posted-date{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #ada62d;
    padding: 6px 15px;
}
@media screen and (max-width:992px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px) {
    .cards{
        grid-template-columns: 1fr;
    }
}